html {
    color: #fff;
    background-color: #000;
    font-family: Chalkduster;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.4;
    text-align: center;
}

.myinfo {
  text-align: right;
  margin-right: 5%;
  font-size: 1.2em;
  font-weight: bold;
}

.entrylinks {
  padding-left: 60px;
  text-align: left;
}

a {
  color: white;
}
ul {
  color: white;
  list-style-type: none;

}
h1 {
  border-style: dashed;
  box-shadow: 5px 5px white;
  margin-right: 20%;
  margin-left: 20%;
}

.copyandpaste {
  padding-right: 10px;
  padding-left: 60px;
}

h2 {
  color: white;
  text-decoration: underline;
  margin-bottom: 5px;

}

h3 {
  margin-top: 5px;
}

nav {
    float: left;
    width: 22%;
    position: fixed;
 
}

.journalentries {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 20%;
}

#copyright {
  margin-top: 5%;
}

