
html {
    color: #660033;
    background-color: #000000;
    font-family: MV Boli;
    font-size: 1em;
    line-height: 1.4;
}

a {
  color: white;
}
ul {
  color: white;

}
h1 {
  border-style: solid;
}
h2 {
  color: white;
}
nav {
    float: left;
    wide: 30%;





section {
  float: left;
  wide: 70%;


}
